*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: black;
    max-width: 100vw;
    max-height: 100vh;
}

.nav__bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card{
    display: flex;
    flex-wrap: wrap;
}